<html lang="en" style="height: 100%">
    <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
      {% if title %}
      <title>{{ title }} Facts-Machine</title>
      {% else %}
      <title>Welcome to the Facts-Machine</title>
      {% endif %}
    </head>
    <body style="height: 100%">
        <div class="container">
            <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                <a class="navbar-brand" href="/">Facts-Machine</a>
            </nav>
            {% block content %}{% endblock %}
        </div>
    </body>
    <footer class="navbar-fixed-bottom blue" style="margin-bottom: 10px">
        <div class="footer-copyright font-small text-center">
            © 2020 Copyright: Kevin Ji, Juliette Love, Moritz Stephan. Final Project for CS224N, Stanford University.
        </div>
    </footer>
</html>